@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Top Bar */

.topBar{
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 60px;
}

.topBar ul{
    display: flex;
    list-style-type: none;
}

.topBar ul li{
    margin-right: 20px;
}

/* Nav Bar */

.navBar{
    background-color: #F0A83E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

.navBar ul{
    display: flex;
    list-style-type: none;
}

.navBar ul li{
    margin-left: 30px;
}

/* link state style */

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #3C2313;
}

/* Hidden drop down menu button */

.dropBton{
    display: none;
    background-color: #F0A83E;
    border: none;
    cursor: pointer;
}

.dropDown{
    display: none;
    position: relative;
}

.dropDownContent{
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropDownContent a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropDownContent a:hover{
    background-color: #f1f1f1;
}
.dropDown:hover .dropDownContent{
    display: block;
}

/* Main Banner Section */

#banner{
    background-image: url(../img/bowl.png);
    background-size: cover;
    height: 700px;
    position: relative;
}

.rightContent{
    position: absolute;
    right: 30px;
    text-align: center;
    top: 250px;
}

.rightContent h2{
    background-color: white;
    border-radius: 10px;
    color: #3C2313;
    font-size: 2.0rem;
    padding: 20px;
}

.rightContent p{
    font-size: 1.25rem;
    color: #3C2313;
    margin: 20px 0;
}

.rightContent button{
    background-color: #F0A83E;
    border-radius: 15px;
    border-style: none;
    color: white;
    font-size: 1.25rem;
    padding: 20px 30px;
}

/* Products Section */

#products{
    margin: 60px 0;
}

.headProducts{
    width: auto;
    text-align: center;
    margin-bottom: 70px;
}

.headProducts h2{
    color: #3C2313;
    font-size: 3.0rem;
    margin: 30px 0;
}

.headProducts span{
    margin: 0 20px;
    font-size: 1.25rem;
}

.cardsProducts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardsProducts div{
    color: #F0A83E;
    font-weight: bold;
    text-align: center;
}

.imgItems{
    border-radius: 10px;
}

.priceCards{
    color: #3C2313;
    margin-top: 10px;
}

/* Contact Section */

#contact{
    color: #3C2313;
    font-size: 1.5rem;
    margin: 80px 0;
    text-align: center;   
}

.contactForm{
    margin: 30px 0;
}

.contactForm input{
    background-color: #3C2313;
    border-style: none;
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
    padding: 15px;
    width: 340px;  
}

[class$="Btn"]{
    color: white;
    border-radius: 20px;
    background-color: #8A8787;
    font-size: 1.15rem;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0;
    text-align: center;
    width: 120px;
}

.sendBtn{
    background-color: #F0A83E;
}

/* Subscription Section  */

#subscription{
    align-items: center;
    background-color: #F0A83E;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

[class$="Sub"]{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 300px;
}

.rightContentSub{
    width: 500px;
}

.rightContentSub input{
    border-style: none;
    border-radius: 15px;
    padding: 15px;
    width: 340px;
}

.subBtn{
    background-color: #3C2313;
    border-style: none;
    padding: 15px;
    font-size: 0.75rem;
}

/* Info Section */

#infoSection{
    align-items: center;
    background-color: #3C2313;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px ;
}

.leftContentInfo{
    width: 300px;
}

.infoItems{
    display: flex;
    margin: 30px 0;
}

.infoItems div{
    margin-left: 40px;
}

.infoItems div p{
    font-size: 0.8rem;
    color: #8A8787;
}

/* Footer  */

.footBar{
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px ) {
    .navBar ul{
        display: none;
    }

    .dropDown{
        display: block;
    }

    .dropBton{
        display: block;
    }

    #subscription{
        flex-wrap: wrap;
        justify-content: center;
    }

    #infoSection{
        flex-wrap: wrap-reverse;
        justify-content: center;

    }
}

@media (max-width: 480px ) {

    .topBar{
        font-size: 0.75rem;
    }

    .logoPet{
        width: 50vw;
    }

    .rightContent{
        left: 30px;
    }

    .imgItems{
        width: 75vw;
    }

    .rightContentSub{
        flex-direction: column;
    }

    .subBtn{
        margin-top: 10px;
    }

}
    





